
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    font-size: 14px;
}

.exemplo-em-1{
    font-size: 1.2em;
}

.exemplo-em-2{
    font-size: 1.8em;
}

.exemplo-rem-1{
    font-size: 1.3rem;
}

.exemplo-rem-2{
    font-size: 2.5rem;
}

.exemplo-vh-1{
    height: 100vh;
    background-color: #aff;
    border:1px solid blue;
}

.exemplo-vh-2{
    height: 40vh;
    background-color: bisque;
    border: 1px solid #000;
}

.exemplo-vh-vw-1{
    height: 30vh;
    width: 30vw;
    background-color: coral;
    border: 1px solid #000;
}